@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

  .headerSection{
    height: 75px;
   }
  .imgLogo{
    
    height: 60px;
    width: 60px;
  }

#hero{
  flex-direction: column;
		width:100%;
  
}

.hero-info{
	width: 60%;
    display: contents;
	text-align: center;
}


} 


@media (max-width: 542px) {
	.central{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.headerSection{
		display: flex;
	}

	.logo{
		display: none;
	}

    .caja-tienda{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;		

	}

	.accesos{
		display: flex;
		width: 50%;
			}

	.h2{
		font-size: small;
	}
	
	
}